{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="static/css/styles.css">
{% endblock %}

{% block title %}Typing Challenge{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-4">Don't stop <br>Typing</h1>
      <p class="lead"></p>
      <hr class="my-4">
    </div>
</div>

<div class="container exp-div">

        <h3 class="explain" style="width: 40%;">
            Write for 5 minutes straight,
            if you stop for 5 seconds,
            all your text will disappear;
            however if you make it all the way to 00:00,
            you get to keep your progress.
        </h3>
        <button type="submit" class="click" style="margin-top: 10px; margin-bottom: 100px;" name="start"
                onclick="location.href = '{{url_for('typing')}}';">START</button>

</div>

{% endblock %}
